@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #3a1c03dc;
  color: #ffe4c0;
  margin: 0px;
  background-image: url("../img/chocolats.png");
  background-size: 380px 380px;
  background-position: right top;
  background-repeat: repeat-y;
}
.savings{
  background-color: #fcba63;
  color:#3a1c03dc;
  top: 100px;
  left: 200px;
  border-radius: 60%;
  text-align: center;
}
h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: #fcba63;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: #850825;
  margin: 10px;
  padding: 5px;
  border: 1px solid #fbccbf;
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: #fbccbf;
  color: #850825;
}
  
td {
  padding: 5px 10px;
}

a {
  color: #3a1c03dc;
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: #fcba63;
}

nav a {
  text-transform: uppercase;
  padding: .5em;
}
nav a:hover {
  color: #fff;
}
 
.button {
  background-color: #fbccbf;
  color: #850825;
  border-color: #fbccbf;
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fcba63;
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: #850825;
}
  
.offer {
  text-transform: uppercase;  
}

footer {
  background-color: #fcba63;
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  color: #3a1c03dc;
  text-align: center;
}